.article-view {
    margin: 2rem;
    padding: 0;
    list-style: none;
}

.article-view .card {
    height: 30rem;
    grid-template-rows: 50% 15% 17% 6% 6% 6%;
    grid-template-columns: auto;
    grid-template-areas: "img" "title" "desc" "author" "date" "comments";
    align-items: center;
}

.article-view .card .card-description {
    padding: 0.5rem;
}

.article-view .card .card-image img {
    height: -webkit-fill-available;
}

.article-view .card .comments {
    cursor: text;
}

.article-view .options {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(243, 243, 243);
}

.article-view .options a {
    text-decoration: none;
    color: inherit;
}